@import "tailwindcss";

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f9fafb;
  color: #111827;
}
